<div id="page-frame">
  <header class="site-header">
    <div class="header-top">
      <h1>CSE Motors</h1>
      <a href="/account" class="account-link"> My Account</a>
    </div>
  </header>
</div>
