<header class="site-header">
  <div class="logo">
    <a href="/"
      ><img src="/images/upgrades/hub-cap.jpg" alt="CSE Motors Logo"
    /></a>
    <span>CSE Motors</span>
  </div>

  <!-- Mobile Menu Button -->
  <button class="menu-toggle" aria-label="Toggle Menu">&#9776;</button>

<!-- Dynamic Navigation -->
  <nav class="main-nav">
    <%- nav %>
  </nav>
</header>
