<main class="home">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-text">
      <h1>Welcome to CSE Motors!</h1>
      <p>
        DMC Delorean<br />3 Cup holders<br />Superman doors<br />Fuzzy dice!
      </p>
      <a href="#">Own Today</a>
    </div>
    <img src="/images/vehicles/model-t.jpg" alt="CSE Motors Hero Vehicle" />
  </section>

  <!-- Features Section -->
  <section class="features">
    <!-- Delorean Upgrades -->
    <article>
      <h2>Delorean Upgrades</h2>
      <div class="upgrade">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
        <p>Flux Capacitor</p>
      </div>
      <div class="upgrade">
        <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
        <p>Flame Decals</p>
      </div>
      <div class="upgrade">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
        <p>Hub Caps</p>
      </div>
      <div class="upgrade">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" />
        <p>Bumper Stickers</p>
      </div>
    </article>

    <!-- Delorean Reviews -->
    <article>
      <h2>DMC Delorean Reviews</h2>
      <ul>
        <li>“So fast it’s almost like traveling in time.” (4/5)</li>
        <li>“Coolest ride on the road.” (4/5)</li>
        <li>“I'm feeling Marty McFly!” (5/5)</li>
        <li>“The most futuristic ride of our day.” (4.5/5)</li>
        <li>“80s style meets today’s technology.” (4/5)</li>
      </ul>
    </article>
  </section>
</main>
